.gridOr{
  position: relative;
       height:  1px;
       width: 100%;
       margin: 30px 0;
       background-color: #d4d4d4;
}

.gridOr::before{
  content: "Or";
  position: absolute;
  top: 30%;
  left: 50%;
transform: translate(-60%, -60%);
background-color: #edede9;
color: #232836;
padding: 0 25px;

}

@media  screen and (max-width: 1200px) {
  .img1{
   display: none;
  }
}





